
.list-item-title{
    margin: 10px 10px 10px 10px;
}

.emergency-link a{
    margin:5px;
    color: #7f7f7f;
    text-decoration: none;
}


.emergency-link a:hover{
    transition: 0.3s;
    border-bottom: 3px solid #85bfd0;
}