@import 'Sidebar.css';

.up-nav{
    border-bottom:1px solid var(--border-color);
    background-color: var(--sidebar-bg-color);
    white-space: nowrap;
    text-align: center;
    font-size:17px;
}
