@import 'Sidebar.css';

.up-nav{
    border-bottom:1px solid var(--border-color);
    background-color: var(--sidebar-bg-color);
    white-space: nowrap;
    font-size:17px;
}


@media (min-width:600px){
    .up-nav{
        display:none;
    }
}